html,:root{
background-image:url('../images/pic 1.jpg');
background-position:top center;
background-size:cover;
background-attachment:fixed;
background-color:#153741;
background-repeat:no-repeat;
color:rgba(255,0,0,1);
font-size:1.5vw;
}
*{margin:0;padding:0;}
nav{height:100%;}
menu[type=list]{height:100%;}
menu[type=list]>li{
list-style:none;
display:inline-block;
height:100%;
transform-origin:top left;
}

menu[type=list]>li:hover{/*background-color:dimgrey*/;transform:scale(1.4);}
body>header{
top:0;
left:0;
/*background-color:rgba(0,255,0,0.2);*/
/*background-image:url(../images/pano.jpg);*/
background-image:linear-gradient(rgb(180,180,180),rgba(140,140,140,0.7));
background-size:contain;
width:100vw;
position:fixed;
z-index:1;
height:2rem;
}
#id,.className{}
main{
position:relative;
top:4rem;
width:80vw;
left:2rem;
border-radius:6rem;
border-style:solid;
border-color:purple;
border-width:0.3rem;
padding:3rem;
background-image:linear-gradient(315deg,rgba(80,80,80,0.7),rgba(140,140,140,0.8),rgba(20,20,20,0.7));
}
h1{
text-align:center;
}
#die:not([data-rolled]) {
	display: none;
}
#die[data-rolled] {
	display:inline-block;
	width: 4rem;
	height: 5rem;
	background-color:white;
}
#die[data-rolled = 1] {
	background-image: url(images/557px-Dice-1.png);
}
#die[data-rolled = 2] {
	background-image: url(images/557px-Dice-2.png);
}
#die[data-rolled = 3] {
	background-image: url(images/557px-Dice-3.png);
}
#die[data-rolled = 4] {
	background-image: url(images/557px-Dice-4.png);
}
#die[data-rolled = 5] {
	background-image: url(images/557px-Dice-5.png);
}
#die[data-rolled = 6] {
	background-image: url(images/557px-Dice-6.png);
}
